barfi==0.7.0
dateparser==1.1.7
decouple==0.0.7
ecdsa==0.18.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
extra-streamlit-components==0.1.56
fastapi==0.95.0
gunicorn==21.2.0
hdwallet==2.2.0
ipfshttpclient==0.8.0a2
keras==2.12.0
market-profile==0.1.1
MarketProfile==0.2.0
matplotlib==3.7.2 
mnemonic==0.20
numpy==1.23.5
openai==0.28.0
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pandas==1.4.2
pandas-ta==0.3.14b0
Pillow==9.0.1
pybit==2.4.0
pymerkle==2.0.2
quanttrader==0.5.5
requests==2.31.0
scikit-learn==1.3.0
scipy==1.9.1
stability-sdk==0.3.0
streamlit==1.26.0
streamlit-authenticator==0.2.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-echarts==0.4.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.0
streamlit-faker==0.0.2
streamlit-image-comparison==0.0.4
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
streamlit-webrtc==0.47.0
Tree==0.2.4
tweepy==4.12.1
web3==5.27.0
webargs==8.2.0
webencodings==0.5.1
xgboost==1.7.4
websockets==9.1
uvicorn==0.21.1
validators==0.20.0
Werkzeug==2.2.2
wfastcgi==3.0.0
WTForms==3.0.1
